#jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
tmp/
.cache/

#vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#npm
node_modules/
jspm_packages/
.npm

#build
public/
dist/