{
  "plugins": [
    "stylelint-scss"
  ],
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "custom-media-pattern": "[a-z][a-zA-Z]+",
    "custom-property-pattern": "[a-z][a-zA-Z]+",
    "selector-class-pattern": "[a-z][a-zA-Z]+",
    "selector-id-pattern": "[a-z][a-zA-Z]+"
  }
}