{% include top.html %}

<body class="wrap">
  <header>
    <div class="grid">
      <div class="unit whole align-center">
        <h1>
          <a href="/">
            <img srcset="/assets/logo/128.png 128w, /assets/logo/504.png 504w, /assets/logo/751.png 751w, /assets/logo/996.png 996w, /assets/logo/1218.png 1218w, /assets/logo/1425.png 1425w, /assets/logo/1613.png 1613w, /assets/logo/1786.png 1786w, /assets/logo/2160.png 2160w" src="/assets/logo/504.png" alt="Logo" style="max-height: 47px; padding: auto" height="65"> <span style="vertical-align: top;">Advanced Macros</span>
          </a>
        </h1>
      </div>
    </div>
  </header>

  {% include anchor_headings.html html=content %}
  {% include analytics.html %}

</body>
</html>
