---
layout: default
---
  <section class="docs">
    <div class="grid">

      {% include docs_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
          <div class="improve right hide-on-mobiles">
            <a data-proofer-ignore href="{{ site.repository }}/edit/master/{{ page.path }}"><img src="https://advancedmacros.github.io/assets/feather/edit-2.svg" alt="Edit icon"> <span>&nbsp;Improve this page</span></a>
          </div>
          <h1>Step by Step Tutorial</h1>
          <h2>{{ page.position }}. {{ page.title }}</h2>
          {% include anchor_headings.html html=content %}
          {% include step-index.html %}
        </article>
      </div>

      {% include docs_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
